---
layout: 'base.njk'
---

<section class="section | ptb-lg">
	<div class="wrapper">
		<article class="article name-article">
			<div class="block-spacing">
				<h1>{{ title }}</h1>
				<img src="{{ image }}" alt="{{ imageAlt }}">

				{{ content | safe }}
			</div>
		</article>
	</div>
</section>