---
layout: 'base.njk'
---

<section class="section | ptb-lg">
	<div class="wrapper">
		<article class="article | | space-x">
			<h1>{{ title }}</h1>
			<!-- picture -->
			<picture class="aspect-3-2">
				<source type="image/webp" srcset="{{ image }}.webp">
				<source type="image/jpeg" srcset="{{ image }}.jpg">

				<img src="{{ image }}.jpg" alt="{{ imageAlt }}">
			</picture>


			{{ content | safe }}
		</article>
	</div>
</section>