<li>
	<article class="article-snippet">
		<div class="content | block-spacing-sm">
			<h3 class="post-heading">{{ post.data.title }}</h3>
			<span>{{ post.data.author}}</span>
			<span>{{ post.data.date | postDate}}</span>
			<p>{{ post.data.description }}</p>
			<a class="btn btn--primary" href="./blog/{{ post.data.slug }}.html">Read
				More</a>

		</div>
		<picture class="aspect-1-1">
			<img src="{{ post.data.image}}" alt="">
		</picture>
	</article>
</li>