<footer class="page-footer | space-x">
	<div class="wrapper | col-gap">
		<h3>Footer</h3>
		<address>
			101 Bogus Avenue<br>
			London<br>
			EW1
		</address>

		<div class="icon-bar icon-sm | row-gap--xxs  | on-hover--fill-red">
			{% include "media-icons.njk" %}
		</div>

	</div>
</footer>