<footer class="page-footer | space-x">
	<div class="wrapper | col-gap">
		<h3>Footer</h3>
		<address>
			101 Bogus Avenue<br>
			London<br>
			EW1
		</address>

		<div class="icon-bar icon-sm | row-gap--xxs  | fill-green on-hover--fill-red">

			<a href="https://www.instagram.com">
				<svg class="icon fill-blue">
					<use href="/images/svg/sprite.svg#twitter-icon"></use>
				</svg>
			</a>

			<a href="https://www.facebook.com">
				<svg class="icon">
					<use href="/images/svg/sprite.svg#facebook-icon"></use>
				</svg>
			</a>

			<a href="https://www.linkedin.com">
				<svg class="icon">
					<use href="/images/svg/sprite.svg#linkedin-icon"></use>
				</svg>
			</a>

			<a href="https://www.facebook.com">
				<svg class="icon">
					<use href="/images/svg/sprite.svg#github-icon"></use>
				</svg>
			</a>
		</div>

	</div>
</footer>