<header class="page-header">
	<div class="wrapper">
		<img src="/images/weberdy-logo.svg" alt="">
		<!-- nav-bar -->
		<nav class="nav-bar">
			<a href="/">Home</a>
			<a href="/blog.html">Blog</a>
		</nav>
	</div>
</header>