.banner-widget {
  background-color: black !important;
  text-align: center;
  color: gold;
  padding: 0.2em 1em;
  .text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
  }
}
