@use './abstracts/' as *;
@import '../_data/styles/sass_vars.json';
@use 'dev' as *;

// core
@use './core/root';
@use './core/base';
@use './core/layout';
@use './core/custom';
@use './core/components';

// components
@use './components/article';
@use './components/buttons/btn-default';
@use './components/navigation/nav-menu';
@use './components/widgets/review-widget';
@use './components/widgets/banner-widget';
@use './components/toggles/toggle-accordion';

// plugins
@use './plugins/store-plugin';

// utilities
@use './utilities/' as *;

// custom
//=========================================
/*! purgecss start ignore */
.theme-branded {
  background-color: $brand-color;
  color: white;
  border: none;
}
.documents-page {
  .page-body {
    // @include toggle-accordion;
    .toggle-accordion {
      display: flex;
      width: 100%;
      span {
        transition: all 250ms linear;
      }
      &[aria-expanded='false'] {
        + div {
          display: none;
        }
      }
      &[aria-expanded='true'] {
        span {
          transform: rotate(180deg);
        }
        + div {
          display: block;
        }
      }
    }
    hr {
      border: none;
      height: 1px;
      background-color: $brand-color;
    }
  }
}

.store-page {
  .page-body {
    background-color: white;
    min-height: 100vh;
  }
}

$bg-base: map-get($bg-color, base);
$bg-primary: map-get($bg-color, primary);
$bg-secondary: map-get($bg-color, secondary);

$text-base: map-get($text-color, base);
$text-primary: map-get($text-color, primary);
$text-secondary: map-get($text-color, secondary);

.theme-base {
  background-color: $bg-base;
  color: $text-base;
}

.theme-primary {
  background-color: $bg-primary;
  color: $text-primary;
}

.theme-secondary {
  background-color: $bg-secondary;
  color: $text-secondary;
}

/*! purgecss end ignore */
