@use './abstracts/' as *;
@import '../_data/styles/sass_vars.json';
@use 'dev' as *;

// core
@use './core/root';
@use './core/base';
@use './core/layout';
@use './core/custom';
@use './core/components';

// components
@use './components/article';
@use './components/buttons/btn-default';
@use './components/navigation/nav-menu';
@use './components/widgets/review-widget';
@use './components/widgets/banner-widget';
@use './components/toggles/toggle-accordion';

// plugins
@use './plugins/store-plugin';

// utilities
@use './utilities/' as *;

// body {
//   padding: 3rem;
// }

// custom
//=========================================
/*! purgecss start ignore */
.theme-branded {
  background-color: $brand-color;
  color: white;
  border: none;
}
.documents-page {
  .page-body {
    // @include toggle-accordion;
    .toggle-accordion {
      display: flex;
      width: 100%;
      span {
        transition: all 250ms linear;
      }
      &[aria-expanded='false'] {
        + div {
          display: none;
        }
      }
      &[aria-expanded='true'] {
        span {
          transform: rotate(180deg);
        }
        + div {
          display: block;
        }
      }
    }
    hr {
      border: none;
      height: 1px;
      background-color: $brand-color;
    }
  }
}

.store-page {
  .page-body {
    background-color: white;
    min-height: 100vh;
  }
}

$bg-base: map-get($bg-color, base);
$bg-primary: map-get($bg-color, primary);
$bg-secondary: map-get($bg-color, secondary);

$text-base: map-get($text-color, base);
$text-primary: map-get($text-color, primary);
$text-secondary: map-get($text-color, secondary);

$facebook-brand-color: map-get($icon-colors, facebook);
$twitter-brand-color: map-get($icon-colors, twitter);
$linkedin-brand-color: map-get($icon-colors, linkedin);
$github-brand-color: map-get($icon-colors, github);

.theme-base {
  background-color: $bg-base;
  color: $text-base;
}

.theme-primary {
  background-color: $bg-primary;
  color: $text-primary;
}

.theme-secondary {
  background-color: $bg-secondary;
  color: $text-secondary;
}

.icon-fill-facebook {
  fill: $facebook-brand-color;
} 
.icon-fill-twitter {
  fill: $twitter-brand-color;
} 
.icon-fill-linkedin {
  fill: $linkedin-brand-color;
} 
.icon-fill-github {
  fill: $github-brand-color;
} 
/*! purgecss end ignore */

// test for purgecss
.some-unused-selector {
  background: red;
}
