/* fonts */
/* ========================= */
/* icons */
/* ========================= */
/* themes */
/* ========================= */
/* contain-width */
/* ========================= */
/* media-querys */
/* ========================= */
/* purgecss start ignore */
:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: #eeee;
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

/* purgecss end ignore */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: lightblue;
}

main display,
picture display,
img display,
i display,
iframe display {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

ul {
  list-style: none;
}

.wrapper-sm {
  padding-inline: 8%;
  max-width: 600px;
  margin-inline: auto;
}

.wrapper {
  padding-inline: 8%;
  margin-inline: auto;
  max-width: 720px;
}

.wrapper-lg {
  padding-inline: 8%;
  max-width: 989px;
  margin-inline: auto;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.page-header > div {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.page-header nav {
  align-self: flex-end;
}

.page-header nav a {
  text-decoration: none;
  font-size: var(--fs-500);
}

.page-header img {
  max-height: 60px;
  max-width: 100%;
}

.page-footer {
  margin-top: auto;
  background-color: white;
  padding: 1em;
}

.page-body {
  flex-grow: 1;
}

/*! purgecss start ignore */
.fill-red .icon,
.fill-red {
  fill: var(--red);
}

.fill-green .icon,
.fill-green {
  fill: green;
}

.fill-blue .icon,
.fill-blue {
  fill: blue;
}

.fill-white .icon,
.fill-white {
  fill: white;
}

.fill-black .icon,
.fill-black {
  fill: black;
}

.keep-me {
  background-color: pink;
}

.on-hover--fill-red .icon:hover,
.on-hover--fill-red .icon:focus {
  fill: red;
}

/*! purgecss end ignore */
.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.btn-burger {
  align-self: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  z-index: 9999;
  width: 40px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-burger .bar {
  position: relative;
  display: block;
  width: 36px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}
.btn-burger .bar-top {
  transform: translateY(-8px);
}
.btn-burger .bar-bottom {
  transform: translateY(8px);
}
.btn-burger[aria-expanded=true]:hover {
  transition: all 500ms linear;
  transform: rotate(90deg);
}
.btn-burger[aria-expanded=true] .bar {
  transition: all 250ms linear;
  background-color: white;
  width: 28px;
}
.btn-burger[aria-expanded=true] .bar-top {
  transform: translateY(2px) rotate(-45deg);
}
.btn-burger[aria-expanded=true] .bar-middle {
  opacity: 0;
}
.btn-burger[aria-expanded=true] .bar-bottom {
  transform: translateY(-2px) rotate(45deg);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  transition: transform 500ms ease;
  top: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  width: 50vw;
  height: 100vh;
  color: white;
  min-width: 180px;
  background-color: black;
}
.nav-menu a {
  color: inherit;
  text-decoration: none;
}
.nav-menu[aria-expanded=false] a {
  display: none;
}
.nav-menu[aria-expanded=true] {
  transform: scale(1, 1);
}
.nav-menu[aria-expanded=true] a {
  opacity: 0;
  animation: nav-fade-in 1s 300ms linear forwards;
}
@keyframes nav-fade-in {
  100% {
    opacity: 1;
  }
}

article span {
  display: block;
}

.article-snippet {
  display: grid;
  gap: 1em;
}

@media (min-width: 45em) {
  .article-snippet {
    grid-template-columns: 1fr 40%;
    gap: 2em;
  }
}
article h1 {
  font-size: 2em;
  font-style: italic;
  color: var(--clr-primary-500);
}

article h3 {
  font-size: 1.4em;
  font-style: italic;
  color: var(--clr-primary-500);
}

article .content {
  display: flex;
  flex-direction: column;
}

article .content {
  display: flex;
  flex-direction: column;
}

/*! purgecss start ignore */
.review-widget {
  font-size: clamp(0.5em, 3vw, 1em);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1em;
}

.review-card {
  background-color: white;
  color: #333;
  border-radius: 0.6em;
  flex-direction: column;
  padding: 1em;
  display: flex;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2509803922);
}

.review-card > :not(:last-child) {
  margin-bottom: 1em;
}

.review-card * {
  display: block;
}

.review-card .card-name {
  font-style: italic;
}

.review-card .card-text {
  flex-grow: 1;
}

.review-card .logo-text {
  text-align: right;
}

.tp-stars--4 .tp-star:nth-of-type(-n + 4) .tp-star__canvas,
.tp-stars--4 .tp-star:nth-of-type(-n + 4) .tp-star__canvas--half,
.tp-stars--4-point-5 .tp-star:nth-of-type(-n + 4) .tp-star__canvas,
.tp-stars--4-point-5 .tp-star:nth-of-type(-n + 5) .tp-star__canvas--half,
.tp-stars--5 .tp-star:nth-of-type(-n + 5) .tp-star__canvas,
.tp-stars--5 .tp-star:nth-of-type(-n + 5) .tp-star__canvas--half {
  fill: #00b67a;
}

/*! purgecss start ignore */
.banner-widget {
  background-color: black !important;
  text-align: center;
  color: gold;
  padding: 0.2em 1em;
}
.banner-widget .text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0 auto;
}

/*! purgecss start ignore */
.sr-filters-wrap {
  display: none !important;
}

/*! purgecss start ignore */
/* displays */
/* ========================= */
.d-block, .d-block-flow * {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline {
  display: inline !important;
}

.d-none {
  display: none !important;
}

.expand-image-on-hover {
  overflow: hidden;
}
.expand-image-on-hover img {
  transition: all 2s linear;
}
.expand-image-on-hover:hover img {
  transform: scale(106%);
}

.filter-light {
  background-color: rgb(247, 247, 247);
}
.filter-dark {
  background-color: rgb(0, 0, 0);
}
.filter-smoked {
  background-color: rgba(0, 0, 0, 0.3);
}
.filter-smoked-light {
  background-color: rgba(0, 0, 0, 0.1);
}
.filter-smoked-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.shadow {
  box-shadow: 0 0 0.6em 0.2 0.5em rgba(0, 0, 0, 0.5);
}
.shadow-very-light {
  box-shadow: 0 0 0.4em 0.15em rgba(0, 0, 0, 0.125);
}
.shadow-light {
  box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.25);
}
.shadow-dark {
  box-shadow: 0 0 0.7em 0.3em rgba(0, 0, 0, 0.75);
}

.f-row, .f-column {
  display: flex;
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-grow {
  flex-grow: 9999;
}

.f-shrink {
  flex-grow: 0;
}

/* flex-box */
/* ========================= */
.f-column {
  display: flex;
  flex-direction: column;
}

.f-row, .f-column {
  display: flex;
  flex-wrap: wrap;
}

.f-inline-row {
  display: inline-flex;
  flex-direction: row;
}

.f-inline-column {
  display: inline-flex;
  flex-direction: column;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-grow {
  flex-grow: 9999;
}

.f-shrink {
  flex-grow: 0;
}

.f-row-reverse {
  flex-direction: row-reverse;
}

.f-column-reverse {
  flex-direction: column-reverse;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-stretch {
  justify-content: stretch;
}
.justify-baseline {
  justify-content: baseline;
}

.justify-self-start {
  justify-self: flex-start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: flex-end;
}
.justify-self-stretch {
  justify-self: stretch;
}
.justify-self-baseline {
  justify-self: baseline;
}
.justify-self-between {
  justify-self: space-between;
}
.justify-self-around {
  justify-self: space-around;
}
.justify-self-evenly {
  justify-self: space-evenly;
}

.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-stretch {
  align-self: stretch;
}
.align-self-baseline {
  align-self: baseline;
}

.auto-top {
  margin-top: auto;
}

.auto-bottom {
  margin-bottom: auto;
}

.auto-left {
  margin-left: auto;
}

.auto-right {
  margin-right: auto;
}

.auto-x-center {
  margin-inline: auto;
}

.auto-y-center {
  margin-block: auto;
}

/*  margin xxxs */
.m-xxxs,
.mt-xxxs,
.mtb-xxxs {
  margin-top: 0.2em;
}

.m-xxxs,
.mb-xxxs,
.mtb-xxxs {
  margin-bottom: 0.2em;
}

.m-xxxs,
.ml-xxxs,
.mlr-xxxs {
  margin-left: 0.2em;
}

.m-xxxs,
.mr-xxxs,
.mlr-xxxs {
  margin-right: 0.2em;
}

/*  margin xxs */
.m-xxs,
.mt-xxs,
.mtb-xxs {
  margin-top: 0.4em;
}

.m-xxs,
.mb-xxs,
.mtb-xxs {
  margin-bottom: 0.4em;
}

.m-xxs,
.ml-xxs,
.mlr-xxs {
  margin-left: 0.4em;
}

.m-xxs,
.mr-xxs,
.mlr-xxs {
  margin-right: 0.4em;
}

/*  margin xs */
.m-xs,
.mt-xs,
.mtb-xs {
  margin-top: 0.6em;
}

.m-xs,
.mb-xs,
.mtb-xs {
  margin-bottom: 0.6em;
}

.m-xs,
.ml-xs,
.mlr-xs {
  margin-left: 0.6em;
}

.m-xs,
.mr-xs,
.mlr-xs {
  margin-right: 0.6em;
}

/*  margin sm */
.m-sm,
.mt-sm,
.mtb-sm {
  margin-top: 0.8em;
}

.m-sm,
.mb-sm,
.mtb-sm {
  margin-bottom: 0.8em;
}

.m-sm,
.ml-sm,
.mlr-sm {
  margin-left: 0.8em;
}

.m-sm,
.mr-sm,
.mlr-sm {
  margin-right: 0.8em;
}

/* margin md */
.m-md,
.mt-md,
.mtb-md {
  margin-top: 1em;
}

.m-md,
.mb-md,
.mtb-md {
  margin-bottom: 1em;
}

.m-md,
.ml-md,
.mlr-md {
  margin-left: 1em;
}

.m-md,
.mr-md,
.mlr-md {
  margin-right: 1em;
}

/* margin base */
.m-base,
.mt-base,
.mtb-base {
  margin-top: 1em;
}

.m-base,
.mb-base,
.mtb-base {
  margin-bottom: 1em;
}

.m-base,
.ml-base,
.mlr-base {
  margin-left: 1em;
}

.m-base,
.mr-base,
.mlr-base {
  margin-right: 1em;
}

/* margin lg */
.m-lg,
.mt-lg,
.mtb-lg {
  margin-top: 1.5em;
}

.m-lg,
.mb-lg,
.mtb-lg {
  margin-bottom: 1.5em;
}

.m-lg,
.ml-lg,
.mlr-lg {
  margin-left: 1.5em;
}

.m-lg,
.mr-lg,
.mlr-lg {
  margin-right: 1.5em;
}

/* margin xl */
.m-xl,
.mt-xl,
.mtb-xl {
  margin-top: 2em;
}

.m-xl,
.mb-xl,
.mtb-xl {
  margin-bottom: 2em;
}

.m-xl,
.ml-xl,
.mlr-xl {
  margin-left: 2em;
}

.m-xl,
.mr-xl,
.mlr-xl {
  margin-right: 2em;
}

/* margin xxl */
.m-xxl,
.mt-xxl,
.mtb-xxl {
  margin-top: 2.5em;
}

.m-xxl,
.mb-xxl,
.mtb-xxl {
  margin-bottom: 2.5em;
}

.m-xxl,
.ml-xxl,
.mlr-xxl {
  margin-left: 2.5em;
}

.m-xxl,
.mr-xxl,
.mlr-xxl {
  margin-right: 2.5em;
}

svg,
.icon,
.logo {
  display: block;
}
svg a,
.icon a,
.logo a {
  text-decoration: none;
}

.site-logo {
  padding-bottom: 44.4444444444%;
}
.site-logo-xs {
  height: 1.25em;
  width: 2.8125em;
}
.site-logo-sm {
  height: 2em;
  width: 4.5em;
}
.site-logo-md {
  height: 3em;
  width: 6.75em;
}
.site-logo-lg {
  height: 4em;
  width: 9em;
}
.site-logo-xl {
  height: 5em;
  width: 11.25em;
}
.site-logo-xxl {
  height: 6em;
  width: 13.5em;
}
.site-logo-xxxl {
  height: 7em;
  width: 15.75em;
}

.icon-bar a,
.icon-list a {
  text-decoration: none;
}

.icon-list .icon {
  display: block;
}

.icon-xxxs .icon, .icon-xxxs.icon {
  width: 0.75em;
  height: 0.75em;
}

.icon-xxs .icon, .icon-xxs.icon {
  width: 0.875em;
  height: 0.875em;
}

.icon-xs .icon, .icon-xs.icon {
  width: 1.25em;
  height: 1.25em;
}

.icon-sm .icon, .icon-sm.icon {
  width: 2em;
  height: 2em;
}

.icon-md .icon, .icon-md.icon {
  width: 3em;
  height: 3em;
}

.icon-lg .icon, .icon-lg.icon {
  width: 4em;
  height: 4em;
}

.icon-xl .icon, .icon-xl.icon {
  width: 5em;
  height: 5em;
}

.icon-xxl .icon, .icon-xxl.icon {
  width: 6em;
  height: 6em;
}

.icon-xxxl .icon, .icon-xxxl.icon {
  width: 7em;
  height: 7em;
}

picture {
  display: block;
  width: 100%;
  max-height: 0;
  position: relative;
  background-color: white;
}

picture img {
  display: block;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aspect-1-1 {
  padding-bottom: 100%;
}

.aspect-3-2 {
  padding-bottom: 66.66%;
}

/* padding */
/* ========================= */
/*  padding xxxs */
.p-xxxs,
.pt-xxxs,
.ptb-xxxs {
  padding-top: 0.2em;
}

.p-xxxs,
.pb-xxxs,
.ptb-xxxs {
  padding-bottom: 0.2em;
}

.p-xxxs,
.pl-xxxs,
.plr-xxxs {
  padding-left: 0.2em;
}

.p-xxxs,
.pr-xxxs,
.plr-xxxs {
  padding-right: 0.2em;
}

/*  padding xxs */
.p-xxs,
.pt-xxs,
.ptb-xxs {
  padding-top: 0.4em;
}

.p-xxs,
.pb-xxs,
.ptb-xxs {
  padding-bottom: 0.4em;
}

.p-xxs,
.pl-xxs,
.plr-xxs {
  padding-left: 0.4em;
}

.p-xxs,
.pr-xxs,
.plr-xxs {
  padding-right: 0.4em;
}

/*  padding xs */
.p-xs,
.pt-xs,
.ptb-xs {
  padding-top: 0.6em;
}

.p-xs,
.pb-xs,
.ptb-xs {
  padding-bottom: 0.6em;
}

.p-xs,
.pl-xs,
.plr-xs {
  padding-left: 0.6em;
}

.p-xs,
.pr-xs,
.plr-xs {
  padding-right: 0.6em;
}

/*  padding sm */
.p-sm,
.pt-sm,
.ptb-sm {
  padding-top: 0.8em;
}

.p-sm,
.pb-sm,
.ptb-sm {
  padding-bottom: 0.8em;
}

.p-sm,
.pl-sm,
.plr-sm {
  padding-left: 0.8em;
}

.p-sm,
.pr-sm,
.plr-sm {
  padding-right: 0.8em;
}

/* padding md */
.p-md,
.pt-md,
.ptb-md {
  padding-top: 1em;
}

.p-md,
.pb-md,
.ptb-md {
  padding-bottom: 1em;
}

.p-md,
.pl-md,
.plr-md {
  padding-left: 1em;
}

.p-md,
.pr-md,
.plr-md {
  padding-right: 1em;
}

/* padding base */
.p-base,
.pt-base,
.ptb-base {
  padding-top: 1em;
}

.p-base,
.pb-base,
.ptb-base {
  padding-bottom: 1em;
}

.p-base,
.pl-base,
.plr-base {
  padding-left: 1em;
}

.p-base,
.pr-base,
.plr-base {
  padding-right: 1em;
}

/* padding lg */
.p-lg,
.pt-lg,
.ptb-lg {
  padding-top: 1.5em;
}

.p-lg,
.pb-lg,
.ptb-lg {
  padding-bottom: 1.5em;
}

.p-lg,
.pl-lg,
.plr-lg {
  padding-left: 1.5em;
}

.p-lg,
.pr-lg,
.plr-lg {
  padding-right: 1.5em;
}

/* padding xl */
.p-xl,
.pt-xl,
.ptb-xl {
  padding-top: 2em;
}

.p-xl,
.pb-xl,
.ptb-xl {
  padding-bottom: 2em;
}

.p-xl,
.pl-xl,
.plr-xl {
  padding-left: 2em;
}

.p-xl,
.pr-xl,
.plr-xl {
  padding-right: 2em;
}

/* padding xxl */
.p-xxl,
.pt-xxl,
.ptb-xxl {
  padding-top: 2.5em;
}

.p-xxl,
.pb-xxl,
.ptb-xxl {
  padding-bottom: 2.5em;
}

.p-xxl,
.pl-xxl,
.plr-xxl {
  padding-left: 2.5em;
}

.p-xxl,
.pr-xxl,
.plr-xxl {
  padding-right: 2.5em;
}

.col-gap > * + * {
  margin-block-start: 1.5em;
}
.col-gap-xxxs > * + * {
  margin-block-start: 0.2em;
}
.col-gap-xxs > * + * {
  margin-block-start: 0.4em;
}
.col-gap-xs > * + * {
  margin-block-start: 0.6em;
}
.col-gap-sm > * + * {
  margin-block-start: 0.8em;
}
.col-gap-md > * + * {
  margin-block-start: 1em;
}
.col-gap-lg > * + * {
  margin-block-start: 1.5em;
}
.col-gap-xl > * + * {
  margin-block-start: 2em;
}
.col-gap-xxl > * + * {
  margin-block-start: 2.5em;
}
.col-gap-xxxl > * + * {
  margin-block-start: 3em;
}

.col-gap-flow * + * {
  margin-block-start: 1.5em;
}
.col-gap-flow-xxxs * + * {
  margin-block-start: 0.2em;
}
.col-gap-flow-xxs * + * {
  margin-block-start: 0.4em;
}
.col-gap-flow-xs * + * {
  margin-block-start: 0.6em;
}
.col-gap-flow-sm * + * {
  margin-block-start: 0.8em;
}
.col-gap-flow-md * + * {
  margin-block-start: 1em;
}
.col-gap-flow-lg * + * {
  margin-block-start: 1.5em;
}
.col-gap-flow-xl * + * {
  margin-block-start: 2em;
}
.col-gap-flow-xxl * + * {
  margin-block-start: 2.5em;
}
.col-gap-flow-xxxl * + * {
  margin-block-start: 3em;
}

.col-gap--off * {
  margin-top: 0;
}

.row-gap > :not(:last-child) {
  margin-inline-end: 1.5em;
}
.row-gap-xxxs > :not(:last-child) {
  margin-inline-end: 0.2em;
}
.row-gap-xxs > :not(:last-child) {
  margin-inline-end: 0.4em;
}
.row-gap-xs > :not(:last-child) {
  margin-inline-end: 0.6em;
}
.row-gap-sm > :not(:last-child) {
  margin-inline-end: 0.8em;
}
.row-gap-md > :not(:last-child) {
  margin-inline-end: 1em;
}
.row-gap-lg > :not(:last-child) {
  margin-inline-end: 1.5em;
}
.row-gap-xl > :not(:last-child) {
  margin-inline-end: 2em;
}
.row-gap-xxl > :not(:last-child) {
  margin-inline-end: 2.5em;
}
.row-gap-xxxl > :not(:last-child) {
  margin-inline-end: 3em;
}

.gap {
  gap: 1.5em;
}
.gap-xxxs {
  gap: 0.2em;
}
.gap-xxs {
  gap: 0.4em;
}
.gap-xs {
  gap: 0.6em;
}
.gap-sm {
  gap: 0.8em;
}
.gap-md {
  gap: 1em;
}
.gap-lg {
  gap: 1.5em;
}
.gap-xl {
  gap: 2em;
}
.gap-xxl {
  gap: 2.5em;
}
.gap-xxxl {
  gap: 3em;
}

.theme-dark {
  background-color: rgb(25, 25, 25);
  color: white;
}

.theme-light {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.font-xl, .font-lg, .font-md, .font-sm, .font-xs {
  line-height: 1.5em;
}

.bold {
  font-weight: bold;
}

.font-xs {
  font-size: 0.5rem;
}
.font-sm {
  font-size: 0.75rem;
}
.font-md {
  font-size: 1rem;
}
.font-lg {
  font-size: 1.25rem;
}
.font-xl {
  font-size: 1.5rem;
}

.italic {
  font-style: italic;
}

.list-style-none {
  list-style: none;
}

.underline-none {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-light {
  color: white;
}
.text-dark {
  color: black;
}

/*! purgecss start ignore */
.store-page .page-body {
  background-color: white;
  min-height: 100vh;
}

.theme-base {
  background-color: #e70303;
  color: #e7e3e3;
}

.theme-primary {
  background-color: #2a7fff;
  color: #ededed;
}

.theme-secondary {
  background-color: #9f0d4a;
  color: #1b0303;
}

/*! purgecss end ignore */