<!-- button -->
<button class="btn-burger | auto-left" aria-expanded="false" aria-controls="navMenu" id="navMenuToggle"
  aria-label="toggle for navigation menu">
  <span class="bar bar-top"></span>
  <span class="bar bar-middle"></span>
  <span class="bar bar-bottom"></span>
</button>

<!-- nav-menu -->
<nav class="nav-menu | font-lg | col-gap | p-lg | dark-theme" id="navMenu" aria-expanded="false">
  {% include "./page-links.njk" %}

  <div class="icon-list icon-xs | f-column col-gap-xs | on-hover--fill-red">
    {% include "widgets/media-icons-widget.njk" %}
  </div>
</nav>