---
page_name: about
page_title: Weberdy about page
---

<!-- ** blog-section ** -->
<section class="section blog-section | col-gap-sm | ptb-lg">
  <div class="wrapper | col-gap-sm">

    <h1>About:
    </h1>

    {% import "macros/picture.njk" as picture %}

    {{ picture.data(image_url="uploads/article-1", class="aspect-3-2", width="600", height="400", alt="laptop" ) }}


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
      illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
      Quas, quidem. Nobis.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
      illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
      Quas, quidem. Nobis.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
      illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
  </div>
</section>