---
tag: pages
# permalink: "/about.html"

page_title: Weberdy about page
page_name: about
---
<!-- ** blog-section ** -->
<section class="section blog-section | col-gap-sm | ptb-lg">
	<div class="wrapper | col-gap-sm">
		{{ content | safe }}

		<h1>About: </h1>


		{%- for post in collections.post_test -%}
		{% include "snippets/post-snippet.njk" %}
		{% endfor %}

		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
			illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
			Quas, quidem. Nobis.</p>

		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
			illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
			Quas, quidem. Nobis.</p>

		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, molestiae veniam molestias error quaerat
			illo optio debitis reiciendis reprehenderit obcaecati esse, enim mollitia inventore doloribus cupiditate impedit.
			Quas, quidem. Nobis.</p>
	</div>
</section>