---
page_name: blog
page_title: Weberdy blog page
---

<!-- ** blog-section ** -->
<section class="section blog-section | ptb-lg">
	<div class="wrapper">
		<h1>News Articles</h1>
		<ul role="list" class="articles-list | col-gap | mt-lg">

			{%- for post in collections.posts -%}
			{% include "snippets/post-snippet.njk" %}
			{% endfor %}
		</ul>
	</div>
</section>