---
layout: section.njk
page_name: documents
page_title: Weberdy documents page

test: testing
permalink: /documents.html
---
{# {% renderFile "./_includes/blocks/text.md" %} #}

{% include "accordion.njk" %}

{% renderTemplate "md" %}
# FAQ's
This is the frequently ask question page, written in markdown
{% endrenderTemplate %}

{% markdown %}
{%- include "blocks/text.md" -%}
{%- include "content/intro.md" -%}
{% endmarkdown%}