---
tag: pages
permalink: "/index.html"

page_title: Weberdy home page
page_name: home
---


<section class="section | ptb-lg | theme-primary">
	<div class=" wrapper | col-gap">
		<h1>Content Heading</h1>

		<p>Lorem ipsum dolor, test sit amet consectetur adipisicing elit. Magni reiciendis, consectetur, fuga quae
			consequuntur
			obcaecati officiis impedit aute, dolorum assumenda error unde adipisci voluptatem! Vel libero maxime non
			excepturi
			totam?</p>

		<picture class="aspect-3-2">
			<source type="image/webp" srcset="/images/uploads/article-1.webp">
			<source type="image/jpeg" srcset="/images/uploads/blog/article-1.jpg">

			<img src="/images/uploads/article-1.jpg" alt="">
		</picture>
	</div>
</section>

<section class="section blog-section | ptb-lg">
	<div class="wrapper | col-gap">
		<h1>Featured News Articles</h1>
		<ul role="list" class="articles-list | col-gap | mt-lg">

			{%- for post in collections.featured -%}
			{% include "snippets/article-snippet.njk" %}
			{% endfor %}
		</ul>
	</div>
</section>