---
page_name: home
page_title: Weberdy home page
---

{% import "macros/picture.njk" as picture %}

<section class="section | ptb-lg | theme-primary">
	<div class=" wrapper | col-gap">
		<h1>Content Heading</h1>

		<p>Lorem ipsum dolor, test sit amet consectetur adipisicing elit. Magni reiciendis, consectetur, fuga quae
			consequuntur
			obcaecati officiis impedit aute, dolorum assumenda error unde adipisci voluptatem! Vel libero maxime non
			excepturi
			totam?</p>


		{{ picture.data(image_url="uploads/hero", class="aspect-3-2", width="600", height="400", alt="laptop" ) }}

	</div>
</section>

<section class="section blog-section | ptb-lg">
	<div class="wrapper | col-gap">
		<h1>Featured News Articles</h1>
		<ul role="list" class="articles-list | col-gap | mt-lg">

			{%- for post in collections.posts -%}
			{% if post.data.featured === true %}
			{% include "snippets/post-snippet.njk" %}
			{% endif %}

			{% endfor %}

		</ul>
	</div>
</section>