---
tags: pages
page_name: store
page_title: This is the Weberdy Store page
---
{% include "plugins/store-plugin.njk" %}

<script>
	window.addEventListener('hashchange', function hashChange() {
		console.log('hash change')
		if (window.location.href.endsWith("store.html")) {
			// alert('match')
			location.reload()
			window.scrollTo(0, 0)
		}

		if (!!window.location.href.match(/store.html/)) {
			// alert('match')
			// console.log('match store')
			// alert('hash-change')
		}
	})
</script>