<li>
	<article class="article-snippet">
		<div class="content | col-gap-sm">
			<h3 class="post-heading">{{ post.data.title }}</h3>
			<span>{{ post.data.author}}</span>
			<span>{{ post.data.date | postDate}}</span>
			<p>{{ post.data.description }}</p>
			<a class="btn btn--primary" href="{{ post.url }}">Read
				More</a>

		</div>

		<picture class="aspect-1-1">
			<source type="image/webp" srcset="/images/uploads/{{ post.data.image | cleanImageExtension }}.webp">
			<source type="image/jpeg" srcset="/images/uploads/{{ post.data.image | cleanImageExtension }}.jpg">

			<img src="/images/uploads/{{ post.data.image | cleanImageExtension }}.jpg" alt="{{ post.data.imageAlt }}">
		</picture>
	</article>
</li>