:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Playfair Display", serif;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-200: #eeee;
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5em;
  min-height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: lightblue;
}

main display,
picture display,
img display,
i display,
iframe display {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

[class~=wrapper] {
  padding-inline: 8%;
  margin-inline: auto;
}

.wrapper {
  max-width: 720px;
}

.wrapper-sm {
  max-width: 600px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  background-color: white;
}

.page-header > div {
  padding-block: 0.3em;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.page-header nav {
  align-self: flex-end;
}

.page-header nav a {
  text-decoration: none;
  color: #212121;
  font-size: var(--fs-500);
  display: inline;
}

.page-header nav a:not(:last-child) {
  margin-right: 0.5em;
}

.page-header img {
  max-height: 60px;
  max-width: 100%;
}

.page-footer {
  margin-top: auto;
  background-color: white;
  padding: 1em;
}

.page-body {
  flex-grow: 1;
}

article span {
  display: block;
}

.article-snippet {
  display: grid;
  gap: 1em;
}

@media (min-width: 45em) {
  .article-snippet {
    grid-template-columns: 1fr 40%;
    gap: 2em;
  }
}
article h1 {
  font-size: 2em;
  font-style: italic;
  color: var(--clr-primary-500);
}

article h3 {
  font-size: 1.4em;
  font-style: italic;
  color: var(--clr-primary-500);
}

article .content {
  display: flex;
  flex-direction: column;
}

article .content {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em;
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.f-row, .f-column {
  display: flex;
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-grow {
  flex-grow: 9999;
}

.f-shrink {
  flex-grow: 0;
}

.mt-xl {
  margin-top: 3em;
}

.mt-lg,
.mtb-lg {
  margin-top: 2em;
}

.mb-lg,
.mtb-lg {
  margin-bottom: 2em;
}

picture {
  max-height: 0;
  width: 100%;
  position: relative;
  background-color: white;
}

picture img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aspect-1-1 {
  padding-bottom: 100%;
}

.aspect-3-2 {
  padding-bottom: 66.66%;
}

.pt-lg,
.ptb-lg {
  padding-top: 2em;
}

.pb-lg,
.ptb-lg {
  padding-bottom: 2em;
}

.space-x > * + * {
  margin-top: 1.5em;
}

.space-x-sm > * + * {
  margin-top: 1em;
}

.space-x-flow-sm * + * {
  margin-top: 1em;
}

.theme-dark {
  background-color: rgb(25, 25, 25);
  color: white;
}

.theme-light {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

.some-unused-selector {
  background-color: red;
}