<footer class="page-footer | col-gap | shadow-light">
	<div class="wrapper | col-gap">

		{# {% include "widgets/reviews-widget.njk" %} #}

		<a href="/">
			<svg class="icon icon-xl" alt="site icon home link">
				<use href="/images/svg/sprite.svg#site-icon"></use>
			</svg>
		</a>


		<address>
			101 Bogus Avenue<br>
			London<br>
			EW1
		</address>

		<div class="icon-sm | f-row | row-gap-xs  | on-hover--fill-red">

			{% include "widgets/media-icons-widget.njk" %}
		</div>

	</div>
</footer>