<header class="page-header">
	<div class="wrapper | ptb-xxs">
		<a href="/" alt="site logo link">
			<svg class="logo site-logo-md">
				<use href="/images/svg/sprite.svg#site-logo"></use>
			</svg>
		</a>


		{% include "navigation/nav-menu.njk" %}


	</div>
	<div class="banner-widget">
		<p class="text">{{ widgets.banner_widget.text }}</p>
	</div>
</header>