---
title: blog page
layout: 'base.njk'
permalink: "/blog.html"
---

<!-- ** blog-section ** -->
<h1>Blog</h1>
<section class="section blog-section | block-spacing-flow-sm">

	<ul role="list" class="articles-list">
		{%- for post in collections.post -%}
		<hr>
		<li>
			<article class="blog-post-article | row ">
				<div class="content">
					<h3 class="post-heading">{{ post.data.title }}</h3>
					<span>{{ post.data.author}}</span>
					<span>{{ post.data.date | postDate}}</span>
					<p>{{ post.data.content }}</p>
					<a href="{{ post.url}}">Weberdy</a>
				</div>
				<picture>
					<img src="{{ post.data.image}}" alt="">
				</picture>
			</article>
		</li>
		{% endfor %}
	</ul>

</section>