{% extends "base.njk" %}

{% set page_title = 'Page Title' %}
{% set page_name = 'home' %}

{% block meta %}
{% for item in meta.home_tags %}
<meta name="{{ item.name }}" content="{{ item.content }}">
{% endfor %}
{% endblock %}

{% block content %}
<section class="section | ptb-lg | theme-primary">
	<div class=" wrapper | col-gap">
		<h1>Content Heading</h1>

		<p>Lorem ipsum dolor, test sit amet consectetur adipisicing elit. Magni reiciendis, consectetur, fuga quae
			consequuntur
			obcaecati officiis impedit aute, dolorum assumenda error unde adipisci voluptatem! Vel libero maxime non
			excepturi
			totam?</p>

		<picture class="aspect-3-2">
			<source type="image/webp" srcset="/images/uploads/article-1.webp">
			<source type="image/jpeg" srcset="/images/uploads/blog/article-1.jpg">

			<img src="/images/uploads/article-1.jpg" alt="">
		</picture>
	</div>
</section>

<section class="section blog-section | ptb-lg">
	<div class="wrapper | col-gap">
		<h1>Featured News Articles</h1>
		<ul role="list" class="articles-list | col-gap | mt-lg">

			{%- for post in collections.featured -%}
			{% include "article-snippet.njk" %}
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}