---
title: hello world
layout: 'base.njk'
---


<section class="section | ptb-lg | theme-light">
	<div class="wrapper | space-x ">
		<h1>Content Heading</h1>

		<p>Lorem ipsum dolor, test sit amet consectetur adipisicing elit. Magni reiciendis, consectetur, fuga quae
			consequuntur
			obcaecati officiis impedit aute, dolorum assumenda error unde adipisci voluptatem! Vel libero maxime non
			excepturi
			totam?</p>
		<picture class="aspect-3-2">
			<img src="https://picsum.photos/400" alt="">
		</picture>


	</div>
</section>

<!-- ** blog-section ** -->
<section class="section blog-section | block-spacing-sm | ptb-lg">
	<div class="wrapper">
		<h1>Featured News Articles</h1>
		<ul role="list" class="articles-list | block-spacing | mt-lg">

			{%- for post in collections.featured -%}
			{% include "article-snippet.njk" %}
			{% endfor %}
		</ul>
	</div>
</section>