<div class="sr-element sr-products" data-embed="multiple_products">
	<script type="application/json">
		{% include "./store_plugin.json" %}
	</script>
</div>
<script async src="https://cdn.shoprocket.io/loader.js"></script>