@mixin toggle-accordion {
  .toggle-accordion {
    span {
      transition: all 250ms linear;
    }
    &[aria-expanded='false'] {
      + div {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      span {
        transform: rotate(180deg);
      }
      + div {
        display: block;
      }
    }
  }
}
