---
pagination: {
data: products,
size: 1,
alias: product
}
permalink: "products/{{ product.name | slug }}/"
---

{{ product.name }}
is
{{ product.age }}
years old

{% for item in iterator %}{% endfor %}