---
{
"layout": "base.njk",
"pagination": {
"data": "products",
"size": 1,
"alias": "product"
},

"permalink": "products/{{ product.name }}/"
}
---


<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
{% for item in product %}
{% endfor %}